<%= form_for actor do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :gender, "Male" %>
    <%= f.radio_button :gender, "Male" %>
    <%= f.label :gender, "Female" %>
    <%= f.radio_button :gender, "Female" %>
  </div>

  <%= f.submit %>
<% end %>
