<% if actor.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(actor.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% actor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<%= form_for actor do |f| %>
  <div class="field_actor">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field_actor">
    <%= f.label :gender, "Male" %>
    <%= f.radio_button :gender, "Male" %>
    <%= f.label :gender, "Female" %>
    <%= f.radio_button :gender, "Female" %>
  </div>
  <br>
  <div class="field_actor">
    <%= f.label :age %>
    <%= f.number_field :age, {min: 1, max: 100} %>
  </div>
  <br>
  <%= f.submit id: "actorSubmit" %>
<% end %>

<script> // Does this have to be here and not in JS file? Would not hit on the first time around if in the actor JS file
  $(function () {
    $('#new_actor').submit(function(event) {
      $('#actorSubmit').attr('data-disable-with')
      event.preventDefault();

      let values = $(this).serialize();

      let posting = $.post('/actors', values);

      posting.done(function(data) {
        let actorId = data.id;
        let actorName = data.name;
        let actorGender = data.gender;
        let actorAge = data.age
        let actor = new Actor(actorId, actorName, actorGender, actorAge);
        actor.actorDetails();
      })
      $('#actorSubmit').removeAttr('data-disable-with')
    })
  })
</script>
