<% if movie.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(movie.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<% # Not sure how to handle edit form filling in both fields %>

<%= form_for movie, :html => {:class => "form-horizontal center"} do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :release_date, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :release_date %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :critic_rating, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :critic_rating, {min: 0, max: 100} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :awards, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.number_field :awards, {min: 0, max: 50} %>
    </div>
  </div>

  <%= f.hidden_field :created_by, :value => current_user.email %>

  <div class="form-group">
    <%= f.label :genre_id, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.collection_select :genre_id, Genre.all, :id, :title %><br><br>
    </div>
  </div>

  <h3>Characters and Actors</h3>

  <%= f.fields_for :characters do |character| %>
  <div class="form-group">
    <%= character.label :name, "Character Name", class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= character.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= character.label :quote, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= character.text_area :quote %>
    </div>
  </div>

  <div class="form-group">
    <%= character.label :actor_id, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= character.collection_select :actor_id, Actor.all, :id, :name, :include_blank => "Select Actor" %>
    </div>
  </div>

    <%= character.fields_for :actor do |act| %>
    <div class="form-group">
      <%= act.label :name, "or Create New Actor", class: "col-md-1 control-label" %>
      <div class="col-md-4">
        <%= act.text_field :name, :value => '' %>
      </div>
    </div>

    <div class="btn-group" data-toggle="buttons-radio">
      <%= act.label :gender, "Male" %>
      <%= act.radio_button :gender, "Male" %>
      <%= act.label :gender, "Female"%>
      <%= act.radio_button :gender, "Female" %>
    </div>

    <div class="form-group">
      <%= act.label :age, class: "col-md-1 control-label" %>
      <div class="col-md-4">
        <%= act.number_field :age, {min: 1, max: 100} %><br><br>
      </div>
    </div>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
