<% if movie.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(movie.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>

<% # Not sure how to handle edit form filling in both fields %>
<%= form_for movie do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %><br>
  </div>

  <div class="field">
    <%= f.label :release_date %>
    <%= f.text_field :release_date %><br>
  </div>

  <div class="field">
  <%= f.label :critic_rating %>
  <%= f.number_field :critic_rating, {min: 0, max: 100} %><br>
  </div>

  <div class="field">
    <%= f.label :awards %>
    <%= f.number_field :awards, {min: 0, max: 50} %><br>
  </div>

  <%= f.hidden_field :created_by, :value => current_user.email %>

  <div class="field">
  Genre: <%= f.collection_select :genre_id, Genre.all, :id, :title %><br><br>
  </div>

  <div class="field">
  <%= f.fields_for :characters do |character| %>
    Character <%= character.label :name %>
    <%= character.text_field :name %><br>
  </div>

  <div class="field">
    Choose Existing Actor <%= character.collection_select :actor_id, Actor.all, :id, :name, :include_blank => "Select Actor" %><br>
  </div>

    <div class="field">
    <%= character.fields_for :actor do |act| %>
      Create New Actor <%= act.text_field :name, :value => '' %><br>
      <%= act.label :gender, "Male" %>
      <%= act.radio_button :gender, "Male" %>
      <%= act.label :gender, "Female" %>
      <%= act.radio_button :gender, "Female" %><br>
    </div>

    <div class="field">
      <%= act.label :age %>
      <%= act.number_field :age, {min: 1, max: 100} %><br><br>
    </div>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
