<h1><%= @movie.title %></h1>
<% if current_user.email == @movie.created_by %>
  <p><%= link_to "Edit Movie", edit_movie_path %></p>
<% end %>
<h2><%= link_to @movie.genre.title, @movie.genre %></h2>

<div class="movie_info">
  <strong>Release Year:</strong> <%= @movie.release_date %><br>
  <strong>Critic Rating/100:</strong> <%= @movie.critic_rating %><br>
  <strong>Number of Awards:</strong> <%= @movie.awards %><br>
  <strong>Added By:</strong> <%= @movie.created_by %>
</div>

<div class="character_actors">
<h3>Characters: </h3>
<% @movie.characters.each do |character| %>
  <label for="character[name]">Character: </label>
  <%= link_to character.name, character %>
  <label for="character[actor][name]">Played By: </label>
  <%= link_to character.actor.name, character.actor %><br><br>
<% end %>
</div>
