<h1><%= @movie.title %></h1>
<% if current_user.email == @movie.created_by %>
  <p><%= link_to "Edit Movie", edit_movie_path %></p>
  <p><%= link_to "Add Character to Movie", new_movie_character_path(@movie) %></p>
<% end %>
<%= button_to "Add to My Movies", :action => 'add' %>
<h2><%= link_to @movie.genre.title, @movie.genre %></h2>

<div class="movie_info">
  <strong>Release Date: </strong><p class="releaseDate"><%= @movie.release_date %></p>
  <strong>Critic Rating/100: </strong><p class="criticRating"><%= @movie.critic_rating %></p>
  <strong>Number of Awards: </strong><p class="awards"><%= @movie.awards %></p>
  <strong>Added By: </strong><p class="createdBy"><%= @movie.created_by %></p>
</div>

<div class="character_actors">
<h3>Characters: </h3>
<% @movie.characters.each do |character| %>
  <label for="character[name]">Character: </label>
    <%= link_to character.name, movie_character_path(@movie, character) %><br>
  <label for="character[actor][name]">Played By: </label>
  <%= link_to character.actor.name, movie_actor_path(@movie, character.actor) %><br><br>
<% end %>
</div>
