<% if user_check? %>
  <h1>Welcome, <%= current_user.email %></h1>
  You have currently added <%= current_user.movies.count %> movies!<br>
<% else %>
  <h1> <%= @user.email %>'s Movies!</h1>
<% end %>
Number of different actors: <%= unique_actors %><br>
Genres in <%= @user.email %> movies: <%= unique_genres %>
<br>


<h2>Movies Added</h2>
<ul>
  <% @user.movies.each do |movie| %>
    <h3>Title: <%= link_to movie.title, movie %></h3>
    <strong>Starring:</strong>
    <% movie.characters.each do |character| %>
      <li>Character: <%= link_to character.name, movie_character_path(movie, character) %>, Played By: <%= link_to character.actor.name, movie_actor_path(movie, character.actor) %></li>
     <% end %>
     <br>
    <% if user_check? %>
      <%= button_to "Remove From My Movies", {:controller => 'movies', :action => 'remove', :movie_id => movie.id} %>
    <% end %>
  <% end %>
</ul>
