<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@character.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<br>


<h1>Create a New Character</h1>

<%= form_for @character, :html => {:class => "form-horizontal center"} do |f| %>
  <%= f.hidden_field :movie_id, :value => @movie.id %>
  .
  <div class="form-group">
    <%= f.label :name, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :actor_id, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= f.collection_select :actor_id, Actor.all, :id, :name, :include_blank => "Select Actor" %>
    </div>
  </div>

  <%= f.fields_for :actor do |act| %>
  <div class="form-group">
    <%= act.label :name, "or Create New Actor", class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= act.text_field :name, :value => '' %>
    </div>
  </div>

  <div class="btn-group" data-toggle="buttons-radio">
    <%= act.label :gender, "Male" %>
    <%= act.radio_button :gender, "Male" %>
    <%= act.label :gender, "Female"%>
    <%= act.radio_button :gender, "Female" %>
  </div>

  <div class="form-group">
    <%= act.label :age, class: "col-md-1 control-label" %>
    <div class="col-md-4">
      <%= act.number_field :age, {min: 1, max: 100} %><br><br>
    </div>
  </div>

  <% end %>
  <%= f.submit %>
<% end %>
